<form action="/delete/<%= results1[0].img %>" method="post">
    <legend>Are you sure you want to delete <%= results1[0].img %></legend>
    <a href="/">Don't Delete</a>
    <button type="submit">Delete</button>
</form>