<section>
    <h1><%= ( typeof title != 'undefined' ) ? title : '' %></h1>
    
        <section>
            <h2><%= results1[0].title %></h2>
            <p><%= results1[0].body_text %></p>
        </section>
        <hr>
</section>