<section>
    <h1><%= ( typeof title != 'undefined' ) ? title : '' %></h1>
    <form action="/test/search" method="get">
        <input type="search" placeholder="Search for data....">
        <button type="submit">Search</button>
    </form>
    <% results1.forEach(result => { %>
        <section>
            <h2><%= result.title %></h2>
            <p><%= result.body_text %></p>
        </section>
        <hr>
    <% }); %>
</section>